---
import { Tags } from 'lucide-astro';
import { META_ICON_SIZE } from '../../scripts/consts';
import TagBarLink from './TagBarLink.astro';

interface Props {
  readonly tags: Array<string>;
}

const { tags } = Astro.props;
---

<div class="tags mt-2 md:mt-0 font-sans align-text-bottom">
  <span class="separator inline-block float-left py-0 pr-2 pt-1 mb-6">
    <Tags size={META_ICON_SIZE} class="" />
  </span>
  {tags.map((tag: string) => <TagBarLink tag={tag} />)}
</div>

<style>
  .tags a:visited {
    color: var(--kdd-color-link);
  }
</style>
