---
import { Tags } from 'lucide-astro';

interface Props {
  readonly tags: Array<string>;
}

const { tags } = Astro.props;
---

<div class="tags mt-2 md:mt-0 font-sans align-text-bottom">
  <span class="separator inline-block float-left py-0 pr-2 pt-1 mb-6"><Tags size="24" class="" /></span>
  {
    tags.map((tag: string) => (
      <span class="tag inline-block py-1 px-3 bg-kdd-nav mb-2 mr-2 rounded-lg font-sans">
        <a href={`/tags/${tag}`} class="text-blue-800">
          #{tag}
        </a>
      </span>
    ))
  }
</div>

<style>
  .tags a:visited {
    color: var(--kdd-color-link);
  }
</style>
