---
import { itemIconLookup } from '../../lib/collections/helpers';
import type { TagLinkT } from '../../lib/collections/tags';
import { TAG_ICON_SIZE } from '../../scripts/consts';
import NavigationLink from '../moonlight/NavigationLink.astro';

interface Props {
  readonly tag: TagLinkT;
  readonly total: number;
  readonly itemIconName?: string | undefined;
}

const { tag, itemIconName } = Astro.props;
const ItemIcon = itemIconLookup(itemIconName);
// const factor = Math.round((1 + tag.count / total) * 100 * 1.2);
// const linkClassName = `text-[${factor}%]`;
---

<div class={`inline-block mt-0 mb-3 mr-3 font-sans bg-kdd-nav px-3 py-2 pr-4 rounded-xl`}>
  <span class="separator inline-block mb-[-0.40rem] pr-1">
    <ItemIcon size={TAG_ICON_SIZE} />
  </span>
  <NavigationLink url={tag.link.url} title={tag.link.title} />
</div>
