---
import { itemIconLookup } from '../../lib/collections/helpers';
import type { LinkT } from '../../lib/types';
import BaseLayout from './BaseLayout.astro';

interface Props {
  readonly pageTitle: string;
  readonly breadcrumbs?: ReadonlyArray<LinkT> | undefined;
  readonly titleIconName?: string;
}

const { pageTitle, breadcrumbs, titleIconName } = Astro.props;
const TitleIcon = itemIconLookup(titleIconName);
---

<BaseLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <div id="page-content-wrapper" class="w-full grow flex-1 h-full md:max-h-screen md:overflow-y-auto mt-8 mb-6">
    <section id="page-content" class="content pr-6 ml-6 md:ml-auto md:mr-auto">
      <h1>
        <span class="separator inline-block mb-[-0.40rem] pr-0"><TitleIcon size="36" /></span>
        {pageTitle}
      </h1>
      <slot />
    </section>
  </div>
</BaseLayout>
