/* ----------------------------------------------------------------------- */
:root,
::backdrop {
  --kdd-footer-height: 15rem;
  --kdd-konker-flash-red: #b70404;
  --kdd-konker-flash-red-light: #ff0606;
  --kdd-konker-flash-red-dark: #900000;
  --kdd-konker-flash-blue: #2c5aa0;
  --kdd-konker-flash-blue-light: #5fbcd3;
  --kdd-konker-flash-blue-dark: #214478;

  --kdd-color-text-dark: #efefef;
  --kdd-color-heading-dark: #ffffff;
  --kdd-color-bg-dark: #222222;
  --kdd-color-hr-dark: #444444;
  --kdd-classic-link-dark: #2299ff;
  --kdd-classic-link-visited-dark: #227799;
  --kdd-classic-link-active-dark: #efefef;
  --kdd-color-bg-nav-dark: #404040;

  --kdd-color-text-light: #222222;
  --kdd-color-heading-light: #000000;
  --kdd-color-bg-light: #eeeeee;
  --kdd-color-hr-light: #d0d0d0;
  --kdd-classic-link-light: #0000ee;
  --kdd-classic-link-visited-light: #551a8b;
  --kdd-classic-link-active-light: #222222;
  --kdd-color-bg-nav-light: #ffffff;

  --kdd-color-text-project-dark: var(--kdd-konker-flash-red-light);
  --kdd-color-bg-project-dark: #333333;
  --kdd-color-text-blog-dark: #beb646;
  --kdd-color-bg-blog-dark: #333333;
  --kdd-color-text-tag-dark: var(--kdd-konker-flash-blue-light);
  --kdd-color-bg-tag-dark: #333333;

  --kdd-color-text-project-light: var(--kdd-konker-flash-red-dark);
  --kdd-color-bg-project-light: #dddddd;
  --kdd-color-text-blog-light: #75702b;
  --kdd-color-bg-blog-light: #dddddd;
  --kdd-color-text-tag-light: var(--kdd-konker-flash-blue);
  --kdd-color-bg-tag-light: #dddddd;

  --kdd-color-text: var(--kdd-color-text-dark);
  --kdd-color-heading: var(--kdd-color-heading-dark);
  --kdd-color-bg: var(--kdd-color-bg-dark);
  --kdd-color-hr: var(--kdd-color-hr-dark);
  --kdd-color-link: var(--kdd-classic-link-dark);
  --kdd-color-bg-nav: var(--kdd-color-bg-nav-dark);

  --kdd-color-text-project: var(--kdd-color-text-project-dark);
  --kdd-color-bg-project: var(--kdd-color-bg-project-dark);
  --kdd-color-text-blog: var(--kdd-color-text-blog-dark);
  --kdd-color-bg-blog: var(--kdd-color-bg-blog-dark);
  --kdd-color-text-tag: var(--kdd-color-text-tag-dark);
  --kdd-color-bg-tag: var(--kdd-color-bg-tag-dark);
}

:root[data-theme-mode='light'],
[data-theme-mode='light'] ::backdrop {
  --kdd-color-text: var(--kdd-color-text-light);
  --kdd-color-heading: var(--kdd-color-heading-light);
  --kdd-color-bg: var(--kdd-color-bg-light);
  --kdd-color-hr: var(--kdd-color-hr-light);
  --kdd-color-link: var(--kdd-classic-link-light);
  --kdd-color-bg-nav: var(--kdd-color-bg-nav-light);

  --kdd-color-text-project: var(--kdd-color-text-project-light);
  --kdd-color-bg-project: var(--kdd-color-bg-project-light);
  --kdd-color-text-blog: var(--kdd-color-text-blog-light);
  --kdd-color-bg-blog: var(--kdd-color-bg-blog-light);
  --kdd-color-text-tag: var(--kdd-color-text-tag-light);
  --kdd-color-bg-tag: var(--kdd-color-bg-tag-light);
}

/* ----------------------------------------------------------------------- */
a:link {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: var(--kdd-classic-link-dark);
}
a:visited {
  color: var(--kdd-classic-link-visited-dark);
}
a:hover {
  color: var(--kdd-classic-link-active-dark);
}
[data-theme-mode='light'] a:link {
  color: var(--kdd-classic-link-light);
}
[data-theme-mode='light'] a:visited {
  color: var(--kdd-classic-link-visited-light);
}
[data-theme-mode='light'] a:hover {
  color: var(--kdd-classic-link-active-light);
}

/* ----------------------------------------------------------------------- */
nav ul ul {
  margin-left: 1rem;
}
nav ul li {
  margin-bottom: 0.5rem;
}
nav a:hover {
  text-decoration: none;
}
nav a.selected {
  font-weight: bold;
  text-decoration: none;
}

/* ----------------------------------------------------------------------- */
.content {
  @apply prose prose-sm prose-neutral prose-headings:font-headings dark:prose-invert md:prose max-w-screen-md;
}
.content hr {
  margin-left: auto;
  margin-right: auto;
  max-width: 60px;
  height: 12px;
  background: radial-gradient(circle closest-side, var(--kdd-color-hr) 100%, #0000) 0 / calc(100% / 3) 100%;
}
.content code {
  font-size: 0.85rem;
}
.content h3:target,
.content h4:target {
  background-color: #ff0;
}
