---
import type { CollectionEntry } from 'astro:content';
import type { MoonlightCollectionName } from '../../lib/moonlight/config';
import NavigationLink from './NavigationLink.astro';

interface Props {
  readonly indexEntries: Array<CollectionEntry<MoonlightCollectionName>>;
  readonly itemIconName?: string;
}

const { indexEntries } = Astro.props;
---

<div id="index-navigation">
  <nav>
    {
      indexEntries.map((x) => (
        <p>
          <NavigationLink url={x.slug} title={x.data.title} />
        </p>
      ))
    }
  </nav>
</div>
