---
import type { MarkdownInstance } from 'astro';
import type { MoonlightEntryKind, MoonlightSubCollectionNavigationItem } from '../../lib/moonlight';
import { ANCHOR_TOP } from '../../scripts/consts';
import PrevNextItemNavigation from './PrevNextItemNavigation.astro';

interface Props {
  readonly kind: MoonlightEntryKind;
  readonly Content: MarkdownInstance<object>['Content']; // AstroComponentFactory;
  readonly prevItem: MoonlightSubCollectionNavigationItem | undefined;
  readonly nextItem: MoonlightSubCollectionNavigationItem | undefined;
}

const { kind, Content, prevItem, nextItem } = Astro.props;
---

<div
  id="page-content-wrapper"
  class={`kind-${kind} md:max-h-[calc(100vh-var(--kdd-footer-height))] w-full md:w-3/5 lg:w-8/12 flex-1 md:overflow-y-scroll mt-0 mb-12`}
>
  <a id={ANCHOR_TOP}></a>
  <div id="page-content" class="content pr-6 ml-6 md:ml-auto md:mr-auto">
    <Content />
    <hr />
    <PrevNextItemNavigation prevItem={prevItem} nextItem={nextItem} />
  </div>
</div>
