---
import type { LinkT, SectionNavigationT } from '../../lib/types';
import { SITE_TITLE } from '../../scripts/consts';
import BreadcrumbsNavigation from './BreadcrumbsNavigation.astro';
import MainNavigation from './MainNavigation.astro';
import SiteLogo from './SiteLogo.astro';
import SocialBar from './SocialBar.astro';
import ThemeModeToggle from './ThemeModeToggle.astro';

interface Props {
  readonly breadcrumbs?: ReadonlyArray<LinkT> | undefined;
  readonly sectionNavigation?: SectionNavigationT | undefined;
}
const { breadcrumbs } = Astro.props;
---

<header class="mb-3 md:mb-12 pb-4 md:pb-0 pl-0 relative md:relative w-full bg-kdd">
  <SiteLogo siteTitle={SITE_TITLE} logoImagePath="/konker-flash-1-dark-mode.png">
    <SocialBar class="hidden md:block md:absolute top-6 right-8">
      <ThemeModeToggle navId="theme-mode-toggle-header" initLightMode={true} />
    </SocialBar>
  </SiteLogo>
  <MainNavigation />
  <BreadcrumbsNavigation breadcrumbs={breadcrumbs} />
  <div class="secondary-navigation-wrapper flex flex-row mt-3 ml-16 justify-between pb-1">
    <slot name="secondary-navigation" />
  </div>
</header>
