---
import { Image } from 'astro:assets';

interface Props {
  readonly logoImage: ReturnType<typeof Image>;
  readonly siteTitle: string;
}

const { logoImage, siteTitle } = Astro.props;
---

<div id="logo" class="relative font-serif m-6 md:pt-6 mb-0">
  <a href="/" class="block">
    <Image src={logoImage} alt="" quality="max" class="absolute w-[2.64rem] h-[5rem] top-0 md:top-5 left-0" />
    <span class="title block text-3xl my-0 ml-14 pt-0 pb-4 border-b border-gray-400 dark:border-gray-500"
      >{siteTitle}</span
    >
  </a>
  <slot />
</div>

<style>
  #logo a:visited,
  #logo a:hover,
  #logo a:link {
    color: var(--kdd-color-heading);
    text-decoration: none;
    border: 0;
  }
</style>
