---
import PageLayout from '../layouts/site/PageLayout.astro';
import { HomeBreadcrumb } from '../lib';
import type { LinkT } from '../lib/types';

// --------------------------------------------------------------------------
const pageTitle = 'About';

// --------------------------------------------------------------------------
const thisBreadcrumb: LinkT = { title: pageTitle, url: `/about/` };
const breadcrumbs: ReadonlyArray<LinkT> = [HomeBreadcrumb, thisBreadcrumb];
---

<PageLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <p>About content</p>
</PageLayout>
