---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About';
---

<BaseLayout pageTitle={pageTitle}>
  <p>About content</p>
  <ul>
    <li><a href="/article">article</a></li>
    <li><a href="/article2">article2</a></li>
  </ul>
</BaseLayout>
