---
import PageLayout from '../layouts/site/PageLayout.astro';
import { HomeBreadcrumb } from '../lib';
import type { LinkT } from '../lib/types';

// --------------------------------------------------------------------------
const pageTitle = 'Home';

// --------------------------------------------------------------------------
const breadcrumbs: ReadonlyArray<LinkT> = [HomeBreadcrumb];
---

<PageLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <p>Home content</p>
</PageLayout>
