---
export type Props = {
  readonly tags: Array<string>;
}

const { tags } = Astro.props
---
<p class="tags ml-2 font-sans">
  <span class="separator inline-block px-0">&#127991;</span>
  {tags.map((tag: string) => (
    <span class="tag inline-block py-1 px-3 bg-white mx-2 rounded-lg font-sans"><a href={`/tags/${tag}`} class="text-blue-800">#{tag}</a></span>
  ))}
</p>
