---
import { Calendar, User } from 'lucide-astro';
import ArticleMetadataTagBar from './ArticleMetadataTagBar.astro';
import { toDisplayDate, toReadableDate } from '../lib';
export type Props = {
  readonly title: string;
  readonly pubDate: Date;
  readonly author: string;
  readonly tags: Array<string>;
}

const { title, pubDate, author, tags  } = Astro.props
const displayPubDate = toDisplayDate(pubDate);
const readablePubDate = toReadableDate(pubDate);
---
<div class="metadata-wrapper mb-16 text-left">
  <div class="metadata flex flex-col justify-start md:flex-row">
    <span class="pubDate flex min-w-fit font-sans pr-8" title={readablePubDate}>
      <span class="separator inline-block px-0 mr-2"><Calendar size="24"/><!--&#128197;--></span>
      {displayPubDate}
    </span>
    <span class="author flex min-w-fit font-sans">
      <span class="separator inline-block px-0 mr-2"><User size="24"/><!--&#129299;--></span>
      <a href="/about" class="text-blue-800 visited:text-blue-800">{author}</a>
    </span>
  </div>
  <ArticleMetadataTagBar tags={tags} />
</div>
