---
import { itemIconLookup } from '../lib/collections/helpers';
import ArticleMetadata from './ArticleMetadata.astro';
import { CollectionName } from '../content/config';
import { CollectionEntry } from 'astro:content';

export type Props = {
  readonly collection: CollectionName;
  readonly post: CollectionEntry<CollectionName>;
  readonly itemIconName?: string;
}

const { collection, post, itemIconName } = Astro.props;
const ItemIcon = itemIconLookup(itemIconName);
---
<article class={['blog-post', 'mb-6', 'pt-6', 'pb-1', 'px-6', 'min-h-32', 'bg-gray-200', 'rounded-t-lg', 'rounded-b-xl', 'border-b-8', 'border-gray-300', itemIconName].join(' ')}>
  <div class="wrapper">
    <h2 class="mt-0 mb-5 font-sans text-lg bg-white py-2 px-1 rounded-md">
      <span class="separator inline-block mb-[-0.40rem] pr-1"><ItemIcon size="28"/></span>
      <a href=`/${collection}/${post.slug}`>{post.data.title}</a>
    </h2>
    <p class="abstract mb-8 font-serif">{post.data.abstract}</p>
    <ArticleMetadata {...post.data} />
  </div>
</article>

<style>
  article.blog-post {
    /* @apply 'bg-gray-200'; */
    background-color: rgb(229 231 235);
  }

  article.blog-post.blog,
  article.blog-post.til {
    background-color: #ffe;
  }

  article.blog-post.project,
  article.blog-post.projects {
    background-color: #f0f6ff;
  }

  article.blog-post.tag,
  article.blog-post.tags {
    background-color: #00f;
  }
</style>
