---

---
<footer class="bg-neutral-300 font-sans text-xs border-t-4 border-solid border-konker-flash-red-dark pb-16">
  <p class="py-6 px-6 my-0 border-t-8 border-solid border-konker-flash-blue-light">
    <!--
    Design by <a href="https://milkmilklemonadearoundthecornerchocolatesmade.com/"
                 title="Milk Milk, Lemonade, Around the Corner Chocolate's Made">Milk Milk, Lemonade</a> |
    -->
    <img src="/finland-flag-128.png" alt="Finland" class="inline-block mr-1 h-4"> Brought to you from <a href="https://www.hel.fi/en" title="Helsinki">Helsinki</a>, <a href="https://www.visitfinland.com/en/" title="Finland">Finland</a>
    <span class="separator px-2">|</span>
    Built with <a href="https://astro.build/" title="Astro">Astro</a>
    <span class="separator px-2">|</span>
    Powered by <a href="https://site-o-matic.net/" title="Site-O-Matic">Site-O-Matic</a>
    <span class="separator px-2">|</span>
    Hosted on  <a href="https://aws.amazon.com/cloudfront/" title="Amazon CloudFront">Amazon CloudFront</a>
  </p>
  <p class="geek-code font-mono">
    GCS/E d s: a? C+++$ UL++ P++ L+++ E---() W+++ K? w--- M PS++ PE- Y++ PGP&gt;++ t+++ !R tv b+ DI+ G e++ h--- r++ y+++
  </p>
</footer>
