---

---
<footer class="bg-white font-sans text-xs border-t-2 border-dotted border-neutral-300 pb-16">
  <p class="py-2 px-4 my-3">
    Design by <a href="https://milkmilklemonadearoundthecornerchocolatesmade.com/"
                 title="Milk Milk, Lemonade, Around the Corner Chocolate's Made">Milk Milk, Lemonade</a> |
    Built by <a href="https://morningwoodsoftware.com/" title="Morningwood Software">Morningwood Software</a> |
    Powered by <a href="https://site-o-matic.net/" title="Site-O-Matic">Site-O-Matic</a>
  </p>
</footer>
