---
import MainNavigation from '../components/MainNavigation.astro';
import BreadcrumbsNavigation from '../components/BreadcrumbsNavigation.astro';
import type { BreadcrumbT, SectionNavigationT } from '../lib/types';

export type Props = {
  readonly breadcrumbs?: ReadonlyArray<BreadcrumbT> | undefined;
  readonly sectionNavigation?: SectionNavigationT | undefined;
}
const { breadcrumbs } = Astro.props
---
<header class="pl-0 relative">
  <div id="logo" class="mr-10 md:mr-0 font-serif">
    <a href="/" class="block text-black border-0 no-underline visited:text-black hover:text-black">
      <img src="/konker-flash-1.png" alt="" class="float-left h-20">
      <span class="title block my-0 ml-14 pt-1 pb-4 text-3xl font-medium border-b border-gray-400">konker.dev</span>
    </a>
  </div>
  <MainNavigation />
  <BreadcrumbsNavigation breadcrumbs={breadcrumbs} />
</header>
