---
import { LinkT } from '../lib/types';

export type Props = {
  readonly breadcrumbs: ReadonlyArray<LinkT>;
}

// How to use tailwind vars for width, colors, fonts?
const navLinks: ReadonlyArray<LinkT> = [
  { url: '/', title: 'Home' },
  { url: '/projects/', title: 'Projects' },
  { url: '/til/', title: 'TIL' },
  { url: '/tags/', title: 'Tags' },
  { url: '/about/', title: 'About' },
]

const { breadcrumbs } = Astro.props;
const navLinksSelectedLookup = navLinks.map((link, i) => breadcrumbs.length === 1 && i === 0 || i > 0 && breadcrumbs?.some(i => i.url === link.url));
---
<nav class="main-navigation">
  <button
    aria-label="toggle menu"
    type="button"
    class="hamburger"
  >
    <!-- icons by Lucide: https://lucide.dev/ -->
    <svg
      class="hamburger-menu-icon-open"
      role="img"
      aria-label="close menu"
      xmlns="http://www.w3.org/2000/svg"
      width="2em"
      height="2em"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M18 6L6 18M6 6l12 12"
      ></path>
    </svg>
    <svg
      class="hamburger-menu-icon-closed"
      role="img"
      aria-label="menu"
      xmlns="http://www.w3.org/2000/svg"
      width="2em"
      height="2em"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 12h16M4 6h16M4 18h16"
      ></path>
    </svg>
  </button>

  <div class="nav-links">
    {navLinks.map((link, idx) => (
      <a
        href={link.url}
        class={['nav-link', navLinksSelectedLookup[idx] ? 'selected' : '' ].join(' ')}
      >
        {link.title}
      </a>
    ))}
  </div>
</nav>

<style>
  .main-navigation .hamburger {
    position: absolute;
    top: 1.0rem;
    right: 0.0rem;
    padding-top: 0.25rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .main-navigation .nav-links {
    transform: translateX(-100%);
  }
  .main-navigation.expanded .nav-links {
    transform: translateX(0);
    transition: transform 1s;
  }

  .main-navigation.expanded .hamburger-menu-icon-closed,
  .main-navigation .hamburger-menu-icon-open,
  .main-navigation .nav-links {
    display: none;
  }
  .main-navigation.expanded .hamburger {
    background-color: #fff;
    padding-bottom: 4.0rem;
    border: 1px solid #ddd;
  }
  .main-navigation .hamburger-menu-icon-open {
    background-color: #fff;
  }
  .main-navigation.expanded .hamburger-menu-icon-open,
  .main-navigation .hamburger-menu-icon-closed,
  .main-navigation.expanded .nav-links {
    display: block;
  }

  .main-navigation {
    margin-left: 3.5rem;
  }
  .main-navigation .nav-links {
    position: absolute;
    right: 0;
    width: 85%;
    padding: 0.0rem 0.0rem 0.5rem 0.5rem;
  }
  .main-navigation .nav-links a {
    display: block;
    background-color: #fff;
    color: #00a;
    border-color: #ddd;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
    padding: 0.15rem 0.85rem;
  }
  .main-navigation .nav-links a.selected,
  .main-navigation .nav-links a:hover {
    background-color: #214478;
    color: #ddd;
    text-decoration: none;
  }

  @media screen and (min-width: 766px) {
    .main-navigation .hamburger {
      display: none;
    }
    .main-navigation.expanded .nav-links,
    .main-navigation .nav-links {
      position: static;
      float: right;
      transform: translateX(0);
      display: block;
      width: inherit;
      max-width: 100%;
      margin-left: 2.5rem;
      padding: 0;
      text-align: right;
    }
    .main-navigation .nav-links a {
      display: inline-block;
      min-width: 6rem;
      margin: 0 0.05rem;
      padding: 0.25rem 0.25rem;
      background-color: #fff;
      color: #00a;
      font-weight: 400;
      border: 1px solid #999;
      border-top-width: 0;
      border-bottom-left-radius: 0.0rem;
      border-bottom-right-radius: 0.0rem;
      text-decoration: underline;
      text-align: center;
      font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
    }
    .main-navigation .nav-links a.selected,
    .main-navigation .nav-links a:hover {
      background-color: #214478;
      color: #fff;
      text-decoration: none;
    }
  }
</style>
