---
import { AuthViewCard } from '../components/auth/AuthViewCard';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sign in | auth.konker.dev">
	<main class="flex min-h-screen items-center justify-center p-6">
		<section class="w-full max-w-md">
			<AuthViewCard client:only="react" />
		</section>
	</main>
</Layout>
