---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/ibm-plex-serif';

import '../styles/global.css';
// import '../styles/typography.css';

const { pageTitle } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="h-full w-full ">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//unpkg.com/gutenberg-css" media="print">
  <title>{pageTitle}</title>
</head>
<body class="h-full w-full text-gray-800 bg-neutral-100">
<div id="container" class="flex flex-col min-h-full font-serif">
  <div id="wrapper" class="flex flex-col flex-1 my-5 mx-5">
    <Header/>
    <main class="flex flex-col grow">
      <section id="content" class="grow ml-4 mr-2 lg:mr-auto lg:ml-auto mt-2 mb-4 text-lg prose prose-zinc md:prose-lg lg:prose-xl max-w-none md:max-w-screen-md lg:max-w-screen-lg">
        <slot />
      </section>
    </main>
  </div>
  <Footer/>
  <script>
    import "../scripts/menu.js";
  </script>
</div>
</body>
</html>
