name: '@konker.dev/backend-boilerplate.konker.dev / CD / Development [AWS Serverless]'

on:
  workflow_dispatch:
    inputs:
      extra_args:
        description: "TurboRepo Extra Args"
        required: false
        type: string

  push:
    branches:
      - 'development'
    paths:
      - 'apps/backend-boilerplate.konker.dev/src/**'
      - 'apps/backend-boilerplate.konker.dev/deployment/aws-serverless/**'

env:
  CWD: './apps/backend-boilerplate.konker.dev'
  AWS_DEFAULT_REGION: 'eu-west-1'
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_POWER_USER_AWS_ACCESS_KEY_ID_BOILERPLATE_BACKEND }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_POWER_USER_AWS_SECRET_ACCESS_KEY_BOILERPLATE_BACKEND }}
  IMAGE_TAG: ${{ github.sha }}
  TURBO_TELEMETRY_DISABLED: 1
  TURBO_FILTER_ARG: '--filter=@konker.dev/backend-boilerplate.konker.dev'
  TURBO_EXTRA_ARGS: ${{ inputs.extra_args }}

jobs:
  cd:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: CD Development
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: '9.6.0'
